<div class="row">
    <div class="col-md-12 d-flex justify-content-end my-1">
        <button class="btn btn-sm btn-primary mx-1" (click)="openModal('add', {})">Create user</button>
    </div>
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th scope="col" *ngFor="let col of columns">
                        <ng-container>
                            {{col.label}}
                        </ng-container>
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="data && data.length  > 0;else noData">
                <ng-container *ngFor="let i=index;let item of data">
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <td *ngIf="col.key !== 'profileImg'">
                                {{item[col.key]}}
                            </td>
                            <td style="max-width:10%;width:10%" *ngIf="col.key === 'profileImg'">
                                <img class="w-100" [src]="getImg(item[col.key])" alt="profile pic">
                            </td>
                        </ng-container>
                        <td>
                            <span class="mx-1 badge badge-info pointer" (click)="openModal('edit', item)">
                                Edit
                            </span>
                            <span class="mx-1 badge badge-danger pointer"  (click)="openModal('delete', item)">
                                Delete
                            </span>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<ng-template #noData>
    <div class="col-md-12">
        No data found
    </div>
</ng-template>