<app-header></app-header>
<div class="cntainer-fluid d-flex justify-content-center">
    <div class="col-md-10 mt-5">
        <ng-container>
            <app-table [data]="allUsers" [columns]="cols" (openAddModal)="openAddModal($event)"></app-table>
        </ng-container>
    </div>
</div>

<ng-template #addModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
            <div class="form-group custom-form-group mt-3">
                <label> Email </label>
                <input type="text" class="form-control" formControlName="email" placeholder="Enter email">
                <p class="text-danger" *ngIf="userForm.controls['email'].invalid && ( userForm.controls['email'].dirty ||
                userForm.controls['email'].touched)">
                    Please enter valid field</p>
            </div>
            <div class="form-group custom-form-group mt-3">
                <label> First Name </label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="Enter first name">
                <p class="text-danger" *ngIf="userForm.controls['firstName'].invalid && ( userForm.controls['firstName'].dirty ||
                userForm.controls['firstName'].touched)">
                    Please enter valid field</p>
            </div>
            <div class="form-group custom-form-group mt-3">
                <label> Last Name </label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Enter last name">
                <p class="text-danger" *ngIf="userForm.controls['lastName'].invalid && ( userForm.controls['lastName'].dirty ||
                userForm.controls['lastName'].touched)">
                    Please enter valid field</p>
            </div>
            <div class="form-group custom-form-group mt-3">
                <label> Mobile Number </label>
                <input type="text" class="form-control" formControlName="phoneNo" placeholder="Enter mobile no">
                <p class="text-danger" *ngIf="userForm.controls['phoneNo'].invalid && ( userForm.controls['phoneNo'].dirty ||
                userForm.controls['phoneNo'].touched)">
                    Please enter valid field</p>
            </div>
            <div class="form-group custom-form-group mt-3">
                <input type="file" (change)="handleFileUpload($event)" id="avatar" name="avatar"
                    accept="image/png, image/jpeg">
            </div>

            <div class="col-md-12 d-flex justify-content-end">
                <button class="btn btn-primary btn-sm mx-2" (click)="modalRef.hide()"> Cancel </button>
                <button class="btn btn-primary btn-sm mx-2" (click)="onSubmit()"> {{flag === 'add' ? 'Submit' : 'Edit'}}
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #deleteModalTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Confirmation</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure ?
    </div>

    <div class="modal-footer">
        <button class="btn btn btn-danger" (click)="onDelete()" >yes</button>
    </div>

</ng-template>